#main #articles * a{color:#06C;text-decoration:none}
#main #articles * a:hover{color:#09F}
#main #articles .article{border-bottom:1px solid #AAA;border-radius:10px;border-top:1px solid #AAA;box-shadow:0 -5px 5px -5px #AAA, 0 5px 5px -5px #AAA;margin:0 20px 0 0;overflow:auto;padding:10px}
#main #articles .detail{border:none;border-radius:0;box-shadow:none;padding:0 10px}
#main #articles .article header{overflow:auto}
#main #articles .article .title{font-size:28px;margin:0;text-align:justify}
#main #articles .article .title a{color:#333;text-decoration:none}
#main #articles .article .excerpt{box-shadow:0 -5px 5px -5px #333, 0 5px 5px -5px #333;clear:both;color:#666;margin:20px 0;padding:10px 20px;text-align:justify}
#main #articles .article .excerpt .google-plus{display:block;margin:10px 0 0}
#main #articles .article .content{clear:both;margin:10px 0;text-align:justify}
#main #articles .article .published-date,.more-link a,.comments a,.keywords{color:#888;font-size:13px;padding-left:20px}
#main #articles .article .published-date{background:url(https://d12nqxoh5bw69p.cloudfront.net/images/icons.gif) no-repeat left -40px}
#main #articles .article .more-link a{background:url(https://d12nqxoh5bw69p.cloudfront.net/images/icons.gif) no-repeat left -21px;font-weight:700}
#main #articles .article .comments a{background:url(https://d12nqxoh5bw69p.cloudfront.net/images/icons.gif) no-repeat left -100px;color:#888}
#main #articles .article .keywords{background:url(https://d12nqxoh5bw69p.cloudfront.net/images/icons.gif) no-repeat -20px -240px;float:left}
#main #articles .article .keywords ul{margin:0}
#main #articles .article .keywords ul li{float:left;margin:0 5px 0 0}
#main #articles #pagination{margin:20px 20px 0 0;text-align:center}
#main #articles #pagination .step-links{display:block;overflow:auto}
#main #articles #pagination .step-links .next{float:left}
#main #articles .article .comments,#main #articles #pagination .step-links .previous{float:right}
