@import url("https://d12nqxoh5bw69p.cloudfront.net/header.css");
@import url("https://d12nqxoh5bw69p.cloudfront.net/articles.css");
@import url("https://d12nqxoh5bw69p.cloudfront.net/comments.css");
@import url("https://d12nqxoh5bw69p.cloudfront.net/content.css");
@import url("https://d12nqxoh5bw69p.cloudfront.net/menu.css");
@import url("https://d12nqxoh5bw69p.cloudfront.net/footer.css");
@import url("https://d12nqxoh5bw69p.cloudfront.net/badges.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold&subset=Latin");
@import url("https://fonts.googleapis.com/css?family=Ubuntu Mono:regular,bold&subset=Latin");

*{font-family:Ubuntu!important}
body{background:url(https://d12nqxoh5bw69p.cloudfront.net/images/background.png)}
ul{margin:0}
ul li{margin:0;padding:0}
.container{background:#FFF;border-radius:15px;box-shadow:0 0 10px #666;margin:10px auto;padding:5px}
#main{margin:10px}
