@import url("header.css");
@import url("articles.css");
@import url("comments.css");
@import url("content.css");
@import url("menu.css");
@import url("footer.css");
@import url("badges.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold&subset=Latin");
@import url("https://fonts.googleapis.com/css?family=Ubuntu Mono:regular,bold&subset=Latin");

*{font-family:Ubuntu!important}
body{background:url(/static/images/background.png)}
ul{margin:0}
ul li{margin:0;padding:0}
.container{background:#FFF;border-radius:15px;box-shadow:0 0 10px #666;margin:10px auto;padding:5px}
#main{margin:10px}
