#comments .comments-anchor {
    font-size: 22px;
    border-bottom: 1px solid #DDD;
    padding: 0 0 0 20px;
}
#comments .comments-anchor a {
    color: #181818 !important;
}
#comments .published-date a, ul li {
    color: #888888 !important;
}
#comments article {
    background: #EEE url("/static/images/blockquote.png") no-repeat;
    border-radius: 10px;
    padding: 10px 20px 10px 60px;
}
#comments .username {
    border-bottom: 4px solid #FFF;
    padding: 4px 10px;
}
#comments .username a {
    color: #444 !important;
    text-transform: uppercase;
    font-weight: bold;
}
#comments .content {
    text-align: justify;
}
#comments form, article {
    padding: 0 20px;
    margin: 0;
}
#comments form label {
    color: #666;
    font-weight: normal;
}
#comments form label[for=id_honeypot] {
    font-weight: bold;
}
#comments form input[type=text] {
    width: 50%;
}
#comments form textarea {
    width: 75%;
}
#comments form input[type=text], textarea {
    min-width: 200px;
}
