#main #articles .detail .content h2{font-size:22px;margin:0}
#main #articles .detail .content p{margin:0 0 10px;padding:0;text-align:justify}
#main #articles .detail .content img{display:block;margin:10px auto}
#main #articles .detail .content ol{margin:0 0 0 10px;padding:0 10px}
#main #articles .detail .content ul li{background:url(/static/images/list.png) no-repeat left 4px;margin:10px 0;padding:0 0 0 10px}
#main #articles .detail .content blockquote{background:#F4F4F4 url(/static/images/blockquote.png) no-repeat;border-left:10px solid #DBDBDB;margin:10px 0;padding:20px 25px 20px 75px;text-align:justify}
#main #articles .detail .content blockquote p{font-size:14px;margin:0}
#main #articles .detail .content pre{background:#000;color:#FFF;font-family:"Ubuntu Mono"!important;font-size:14px;margin:10px 0;overflow:auto;padding:10px}
#main #articles .detail .content pre strong{color:#FFF}
