{% load flatpages %}
{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="pt-br"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="pt-br" itemscope itemtype="http://schema.org/{% block type %}Blog{% endblock %}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% block meta %}
    <meta itemprop="name" content="{{ site.name }}">
    <meta itemprop="description" content="{{ site.sitedetail.description }}">
    <meta itemprop="keywords" content="{{ site.sitedetail.keywords }}">
    {% endblock %}
    <meta itemprop="image" content="{{ STATIC_URL }}images/linux-logo.png">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}/stylesheets/skeleton/base.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton/skeleton.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton/layout.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/layout-default/style.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} Feed" href="http://{{ site }}/feed/" />

    <script type="text/javascript">
        window.___gcfg = {lang: 'pt-BR'};

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    {% if site.sitedetail %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.sitedetail.analytics_account_id }}']);
        _gaq.push(['_setDomainName', '{{ site.domain }}']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</head>
<body>
{% spaceless %}
    <div class="container">
        <header id="header" class="sixteen columns clearfix">
            <h1 id="title">{{ site.name }}</h1>
            <hr />
            <div id="quote" class="row">
                <blockquote class="fourteen columns alpha">
                    <p>
                        Se eu tiver uma maçã e você também tiver uma maçã, e trocarmos de maçãs, cada um ficará com uma maçã.<br />
                        Se eu tiver uma ideia e você também tiver uma ideia, e trocarmos de ideias, cada um ficará com duas ideias.
                    </p>
                    <cite>George Bernard Shaw</cite>
                </blockquote>
                <img id="logo" class="two columns omega" src="{{ STATIC_URL }}images/linux-logo.png" alt="" />
            </div>

            <nav id="top-menu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                    {% get_flatpages as flatpages %}
                    {% for page in flatpages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                    <li id="rss"><a href="{% url 'feeds' %}">RSS</a></li>
                </ul>
            </nav>
        </header>

        <div id="main" class="sixteen columns clearfix row">
            <div id="articles" class="twelve columns alpha">
                {% block articles %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}

                {% if is_paginated %}
                    <div id="pagination">
                        <span class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

                        <span class="step-links">
                            {% if page_obj.has_next %}
                                <a class="next" href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}">← Posts mais antigos</a>
                            {% endif %}

                            {% if page_obj.has_previous %}
                                <a class="previous" href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}">Posts mais recentes →</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>

            <aside id="menu" class="four columns omega sidebar">
                <nav>
                    <h4>Busca</h4>
                    <form id="search" action="/search/" method="GET">
                        <input id="query" name="q" type="text" />
                        <input type="submit" value="Enviar" />
                    </form>

                    <br />

                    <h4>Categorias</h4>
                    <ul>
                    {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category }}</a> ({{ category.post__count }})</li>
                    {% empty %}
                        <li>Nada encontrado</li>
                    {% endfor %}
                    </ul>

                    <br />

                    <h4>Arquivos</h4>
                    <ul>
                    {% for archive in archives reversed %}
                        <li><a href="{% url 'archive_month' archive|date:'Y' archive|date:'m' %}">{{ archive|date:'m/Y' }}</a></li>
                    {% empty %}
                        <li>Nada encontrado</li>
                    {% endfor %}
                    </ul>
                </nav>
            </aside>
        </div>

        <footer id="footer" class="sixteen columns clearfix">
            <div id="license" itemscope itemtype="http://n.whatwg.org/work">
                <a id="creative-commons-license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width: 0;" src="{{ STATIC_URL }}images/buttons/creativecommons_by-nc-sa.png"></a>
                O <a itemprop="work" href="http://{{ site }}"><span>{{ site.name }}</span></a> por <a itemprop="author" href="/about/"><span>{{ author.first_name }} {{ author.last_name }}</span></a> está sob a licença <a itemprop="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License"><span>CC-BY-NC-SA</span></abbr></a>.
            </div>
        </footer>
    </div>

    <aside id="badges">
        <a id="badge-css3" href="http://jigsaw.w3.org/css-validator/validator?uri={{ site }}&profile=css3" alt="Tecnologia usada válida para CSS3"></a>
        <a id="badge-html5" href="http://html5.validator.nu/?doc={{ site }}" alt="Tecnologia usada válida para HTML5"></a>
        <a id="badge-rss20" href="http://validator.w3.org/feed/check.cgi?url={{ site }}/feed/" alt="Tecnologia usada válida para RSS 2.0"></a>
        <a id="badge-ipv6" href="http://validador.ipv6.br/index.php?site={{ site }}" alt="Tecnologia usada válida para IPv6"></a>
        <a id="badge-dnssec" href="http://registro.br/cgi-bin/nicbr/dscheck" alt="Tecnologia usada válida para DNSSEC"></a>
    </aside>
{% endspaceless %}
</body>
</html>
