<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="pt-br"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="pt-br"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Blog do Leandro Toledo</title>
	<meta name="description" content="">
	<meta name="author" content="Leandro Toledo de Souza">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton/base.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton/skeleton.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/skeleton/layout.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/default.css">
</head>
<body>
	<div class="container">
		<header class="sixteen columns clearfix">
			<h1>Blog do Leandro Toledo</h1>
			<hr />
			<div class="row">
				<blockquote class="fourteen columns alpha">
					<p>
						Se eu tiver uma maçã e você também tiver uma maçã, e trocarmos de maçãs, cada um ficará com uma maçã.<br />
						Se eu tiver uma ideia e você também tiver uma ideia, e trocarmos de ideias, cada um ficará com duas ideias.
					</p>
					<cite>George Bernard Shaw</cite>
				</blockquote>
				<img class="two columns omega" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Linux_Logo_in_Linux_Libertine_Font.svg/511px-Linux_Logo_in_Linux_Libertine_Font.svg.png" />
			</div>
			<nav>
				<ul class="tabs">
					<li><a href="">Home</a></li>
					<li><a href="">Sobre</a></li>
					<li><a href="">Contato</a></li>
					<li style="float: right;"><a href="">Feeds (RSS)</a></li>
				</ul>
			</nav>
		</header>
		
		<div>
			<article></article>
		</div>
		
		<footer>
		</footer>
	</div>
</body>
</html>
