{% extends 'base.html' %}

{% load comments %}
{% load url from future %}

{% block title %}{{ post.title }}{% endblock %}

{% block meta %}
<meta itemprop="name" content="{{ post.title }}">
<meta itemprop="keywords" content="{{ post.category.all }}">
<meta itemprop="description" content="{{ post.excerpt }}">
{% endblock %}

{% block articles %}
    <article class="article detail" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h2 class="title"><a href="{{ post.get_absolute_url }}"><span itemprop="name">{{ post.title }}</span></a></h2>
             <ul>
                <li class="published-date">por <a rel="author" href="https://profiles.google.com/117129104413055519054/" target="_blank"><span itemprop="author">{{ author.first_name }} {{ author.last_name }}</span></a> em <time datetime="{{ post.published_date|date:'Y-m-d' }}"><span itemprop="datePublished">{{ post.published_date|date:'d/m/Y' }}</span></time></li>
                <li class="keywords">Categoria(s):
                    <div itemprop="keywords">
                        <ul>
                        {% for category in post.category.all %}
                            <li><a href="">{{ category }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="comments">
                    {% get_comment_count for post as comment_count %}
                    {% if comment_count > 0 %}
                        <a href="{{ post.get_absolute_url }}#comments-section">{{ get_comment_count }} comentário(s)</a>
                    {% else %}
                        <a href="{{ post.get_absolute_url }}#comments-section">Deixe um comentário</a>
                    {% endif %}
                </li>
            </ul>
        </header>

        <div class="excerpt" itemprop="description">
            {{ post.excerpt|safe|escape }}
        </div>

        <div class="content">
            {{ post.content|safe|escape }}
        </div>
    </article>
{% endblock %}
