{% extends 'base.html' %}

{% load comments %}
{% load url from future %}

{% block title %}{{ title|default:site.name }}{% endblock %}

{% block articles %}
    {% for post in object_list %}
        <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <h2 class="title {% if post.is_draft %}draft{% endif %}"><a href="{{ post.get_absolute_url }}"><span itemprop="name">{{ post.title }}</span></a></h2>
                 <ul>
                    <li class="published-date">por <a rel="author" href="https://profiles.google.com/{{ author.userprofile.google_profile }}/" target="_blank"><span itemprop="author">{{ author.first_name }} {{ author.last_name }}</span></a> em <time datetime="{{ post.published_date|date:'Y-m-d' }}"><span itemprop="datePublished">{{ post.published_date|date:'d/m/Y' }}</span></time></li>
                </ul>
            </header>

            <div class="content">
                {{ post.excerpt|safe|escape }}

                <br class="clear" />
                <span class="more-link"><a href="{{ post.get_absolute_url }}">Continue lendo »</a></span>
            </div>

            <footer>
                <ul>
                    <li class="keywords">Categoria(s):
                        <div itemprop="keywords">
                            <ul>
                            {% for category in post.category.all %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="comments">
                        {% get_comment_count for post as comment_count %}
                        {% if comment_count > 0 %}
                            <a href="{{ post.get_absolute_url }}#comments-section">{{ comment_count }} comentário(s)</a>
                        {% else %}
                            <a href="{{ post.get_absolute_url }}#comments-form">Deixe um comentário</a>
                        {% endif %}
                    </li>
                </ul>
            </footer>
        </article>
        <br />
    {% empty %}
        <h2>Nada encontrado</h2>
    {% endfor %}
{% endblock %}
